<!DOCTYPE Configuration>
<Configuration>
  <Macro>
    <DataPath>./data</DataPath>
  </Macro>
  <Sensor_xtion>
    <Simulator>
      <xtion>
        <storagePath>
          <Default>#(DataPath)</Default>
        </storagePath>
        <colorFilename>
          <Default>20161227_164229_644_color</Default>
        </colorFilename>
        <depthFilename>
          <Default>20161227_164229_644_depth</Default>
        </depthFilename>
      </xtion>
    </Simulator>
    <VisualizationMono>
      <xtionVis/>
    </VisualizationMono>
  </Sensor_xtion>
  <Sensor_URG>
    <Simulator>
      <urg>
        <path>
          <Default>#(DataPath)</Default>
        </path>
        <filename>
          <Default>20161227_164229_645.lms</Default>
        </filename>
        <first_step>
          <Default>-360</Default>
        </first_step>
        <last_step>
          <Default>360</Default>
        </last_step>
        <skip_step>
          <Default>2</Default>
        </skip_step>
        <nearfilter>
          <Default>0</Default>
        </nearfilter>
        <farfilter>
          <Default>5000</Default>
        </farfilter>
      </urg>
    </Simulator>
    <VisualizationMono>
      <urgVis>
        <range>
          <Default>2500</Default>
        </range>
        <interval>
          <Default>500</Default>
        </interval>
        <imageRadius>
          <Default>400</Default>
        </imageRadius>
        <frontOnly>
          <Default>1</Default>
        </frontOnly>
        <laserBeam>
          <Default>1</Default>
        </laserBeam>
      </urgVis>
    </VisualizationMono>
  </Sensor_URG>
  <Sensor_EncoderIMU>
    <Simulator>
      <odom>
        <path>
          <Default>#(DataPath)</Default>
        </path>
        <filename>
          <Default>20161227_164229_647.odom</Default>
        </filename>
        <distancePerPulse>
          <Default>1</Default>
        </distancePerPulse>
        <maxPulse>
          <Default>30000</Default>
        </maxPulse>
        <initx>
          <Default>0</Default>
        </initx>
        <inity>
          <Default>0</Default>
        </inity>
        <initori>
          <Default>0</Default>
        </initori>
      </odom>
    </Simulator>
    <VisualizationMono>
      <odomVis>
        <mapSize>
          <Default>500</Default>
        </mapSize>
        <pixelSize>
          <Default>1</Default>
        </pixelSize>
        <showHeight>
          <Default>350</Default>
        </showHeight>
      </odomVis>
    </VisualizationMono>
  </Sensor_EncoderIMU>
  <Processor_Line>
    <ProcessorMulti>
      <obDetector/>
    </ProcessorMulti>
    <VisualizationMono>
      <obVis>
        <scale>
          <Default>1</Default>
        </scale>
        <width>
          <Default>640</Default>
        </width>
        <height>
          <Default>480</Default>
        </height>
        <offsetWidth>
          <Default>320</Default>
        </offsetWidth>
        <offsetHeight>
          <Default>240</Default>
        </offsetHeight>
      </obVis>
    </VisualizationMono>
  </Processor_Line>
</Configuration>
